
<div class="wrapper" onclick="window.open('https://citedrive.com/?via_bibtex.eu', '_blank', 'noopener,noreferrer');" aria-label="Banner - Advertisement for CiteDrive">
<div class="letters">
  <p class="main-message">
      Are you in search of a simple and <span class="highlighted-text">cost-free</span> online <span class="highlighted-text">BibTeX</span> manager?
  </p>
  <p class="secondary-message">
      CiteDrive is a bibtex-based collaborative reference manager that integrates seamlessly with Overleaf and RStudio.
  </p>
</div>
<p class="mobile-main-message">Online BibTeX Manager →</p>
<button class="button">Sign up free</button>
</div>


<style>
  .wrapper {
      position: sticky;
      width: 100%;
      bottom: 0;
      z-index: 999;
      background: linear-gradient(
          344deg,
          rgba(0, 204, 221, 1) 0%,
          rgba(123, 101, 255, 1) 100%
      );
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.4rem 2rem;
      cursor: pointer;
  }

  @media (max-width: 768px) {
      .wrapper {
          flex-direction: column;
          align-items: flex-start;
      }
  }

  .button {
      background: #fff;
      height: 50px;
      color: #000;
      min-width: 120px;
      padding: 1rem;
      border-radius: 25px;
      border: none;
      cursor: pointer;
      font-weight: 800;
  }

  @media (max-width: 768px) {
      .button {
          display: none;
      }
  }

  .letters {
      color: #fff;
  }

  @media (max-width: 768px) {
      .letters {
          display: none;
      }
  }

  .mobile-main-message {
      margin-bottom: 0;
      font-size: 1.2em;
      font-weight: bold;
      color: #fff;
      display: none;
  }

  @media (max-width: 768px) {
      .mobile-main-message {
          display: block;
      }
  }

  .main-message {
      margin-bottom: 0;
      font-size: 1.2em;
      font-weight: bold;
  }

  .highlighted-text {
      text-decoration: underline;
      text-decoration-color: #00ff6b;
      text-decoration-thickness: 5px;
  }

  .secondary-message {
      font-weight: 400;
  }
</style>