---
import { getLangFromUrl, useTranslations } from '@locales/api'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<div id="modal-overlay" class="modal-overlay hidden">
	<div class="modal-content styled-div">
		<button class="modal-close" onclick="closeModal()">×</button>
		<h2 set:html={t('SMALL_BANNER_H2')} />

		<ul class="features-list">
			<li>{t('SMALL_BANNER_LI_1')}</li>
			<li>{t('SMALL_BANNER_LI_2')}</li>
			<li set:html={t('SMALL_BANNER_LI_3')} />
			<li set:html={t('SMALL_BANNER_LI_4')} />
			<li>{t('SMALL_BANNER_LI_5')}</li>
			<li>{t('SMALL_BANNER_LI_6')}</li>
		</ul>

		<div class="button-row">
			<a href={`https://www.citedrive.com/${lang}/`} class="cta-button">{t('SMALL_BANNER_BUTTON')}</a>
			<a href="https://youtu.be/bHD94qM0vyg?si=Q6h3XDVqFzHx7kI8" class="cta-button-demo">{t('SMALL_BANNER_VIDEO')}</a>
		</div>
	</div>
</div>

<script is:inline>
	setTimeout(() => {
		const modal = document.getElementById('modal-overlay')
		if (modal) {
			modal.classList.remove('hidden')
		}
	}, 2000)

	function closeModal() {
		document.getElementById('modal-overlay')?.classList.add('hidden')
	}
</script>

<style is:inline>
	.modal-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1000;
	}
	.modal-overlay.hidden {
		display: none;
	}

	.modal-content {
		color: black;
		padding: 2rem;
		margin: 1rem;
		border: 1px solid #000;
		border-radius: 1rem;
		background: white;
		position: relative;
		max-width: 700px;
		width: 90%;
	}

	.modal-content h2 {
		color: black;
	}

	.modal-close {
		position: absolute;
		top: 10px;
		right: 20px;
		font-size: 24px;
		background: none;
		border: none;
		color: black;
		cursor: pointer;
	}
	.modal-close:hover {
		color: #ccc;
	}

	.button-row {
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
		margin-top: 2rem;
	}

	.cta-button,
	.cta-button-demo {
		display: block;
		text-decoration: none;
		color: #fff!important;
		background-color: black;
		font-weight: 600;
		border-radius: 32px;
		line-height: 1;
		padding: 16px;
		transition: 0.5s;
		width: fit-content;

	}
</style>
